* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
}

body {
    background: white;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}



/* Menu */
.desktop-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    padding: 32px;
    flex-direction: column;
}


.mobile-menu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
}

.mobile-menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(58, 109, 22);
    font-size: 1.5rem;
    padding: 10px 0;
}

.mobile-menu-line {
    width: 50%;
    height: 2px;
    background-color: rgb(184, 216, 167);
    margin-bottom: 8px;
}

.mobile-menu-title {
    font-size: 2rem;
    color: rgb(58, 109, 22);
}

.mobile-menu-button {
    display: none;
}

.mobile-menu-close-button {
    color: rgb(58, 109, 22);
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    border: 0;
    background: transparent;
    font-size: 1.25rem;
}

.desktop-menu a {
    color: white;
    text-decoration: none;
    padding: 0 8px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.desktop-menu a:hover {
    color: rgb(58, 109, 22);
    background: rgb(188, 235, 145);
}

@media only screen and (max-width: 1024px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu-button {
        color: white;
        padding: 0 8px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        border-radius: 8px;
        border: 0;
        background: transparent;
    }

    .mobile-menu.visible {
        display: flex;
    }
}

/* Header */
.site-header {
    background: rgb(103 137 79);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 12px;
}

.site-name {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.menu-apply {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-apply-link {
    display: block;
    padding: 8px 12px;
    background-color: #e5b94c;
    color: cornsilk;
    text-decoration: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
}

.menu-apply-link:hover {
    background-color: #b18517;
    color: cornsilk;
}

/* Content */
.site-content {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

.homepage-hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    margin-top: 16px;
}

.hero-half {
    background: rgb(218, 208, 208);
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#explore-vendors {
    background-image: url("/static/images/hero-vendor.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#explore-produce {
    background-image: url("/static/images/hero-produce.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero-title {
    font-size: 1.35rem;
    color: white;
    margin: 0;
}

.hero-subtitle {
    font-size: 1.75rem;
    color: white;
    margin: 0;
}


.hero-link {
    display: block;
    padding: 12px;
    background-color: #e5b94c;
    color: cornsilk;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
}

.hero-link:hover {
    background-color: #b18517;
    color: cornsilk;
}

@media only screen and (max-width: 1024px) {
    .homepage-hero-section {
        grid-template-columns: 100%;
        gap: 4px;
    }

    .hero-half {
        height: 300px;
        border-radius: 10px;
    }
}

.homepage-content {
    margin: 68px 0 0;
    text-align: center;
}

.content-text {
    font-size: 1rem;
    color: rgb(22, 12, 12);
    margin: 0;
    text-align: center;
    line-height: 2;
}

.content-title {
    font-size: 1.5rem;
    color: rgb(15, 9, 9);
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}

.content-list-container {
    display: flex;
    justify-content: center;
}

.content-list {
    font-size: 1rem;
    color: #6f884e;
    display: flex;
    gap: 15px;
    margin: 0 0 32px;
    list-style-position: inside;
    line-height: 2;
    padding: 0;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .content-list {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 8px;
    }
}

.site-footer {
    background: rgb(103 137 79);
    align-items: center;
    padding: 12px;
    width: 100%;
    margin-top: 64px;
}

.footer-text {
    font-size: 0.85rem;
    color: white;
    margin: 0;
    text-align: center;
    line-height: 2;
    padding: 0
}



.submission-cta {
    margin: 68px auto 0;
    text-align: center;
    background-color: #ecdecc;
    padding: 24px 64px;
    width: fit-content;
    border-radius: 10px;
}

.submission-cta-title {
    font-size: 1.5rem;
    color: rgb(15, 9, 9);
    margin: 0;
    text-align: center;
    margin-bottom: 24px;
}

.submission-cta-subtitle {
    font-size: 1.75rem;
    color: #6f884e;
    margin: 0;
    text-align: center;
    margin-bottom: 24px;
}


.submission-cta-link {
    display: inline-block;
    padding: 12px;
    background-color: #e5b94c;
    color: cornsilk;
    text-decoration: none;
    border-radius: 8px;
}

.submission-cta-link:hover {
    background-color: #b18517;
    color: cornsilk;
}







.welcome {
    margin: 68px 0 32px;
    text-align: center;
}

.welcome-image {
    width: 96px;
    margin-bottom: 26px;
}

.welcome-title {
    font-size: 2rem;
    color: rgb(15, 9, 9);
    margin: 0;
    text-align: center;
    margin-bottom: 16px;
}

.welcome-text {
    font-size: 1rem;
    color: rgb(22, 12, 12);
    margin: 0;
    text-align: center;
    line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
    .welcome {
        margin: 40px 0;
    }
}

.produce_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 5px solid #f3df87;
    text-decoration: none;
    color: rgb(17, 12, 12);
    position: relative;
}

.produce-in-season {
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: lighter;
    top: 9px;
    right: 9px;
    position: absolute;
    background: rgb(191, 212, 179);
}

.produce-name {
    font-size: 1rem;
    color: rgb(17, 12, 12);
    margin: 0;
}

.list-of-produce {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.produce-image {
    width: 96px;
}

@media only screen and (max-width: 1024px) {
    .list-of-produce {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .produce_card {
        aspect-ratio: auto;
        padding: 12px;
    }
}

.list-of-offers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.produce-offer-card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    border-radius: 8px;
    border: 5px solid #f3df87;
    text-decoration: none;
    color: rgb(17, 12, 12);
    position: relative;
    align-items: center;
}

.offer-image-container {
    aspect-ratio: 1;
    padding: 10px;
}

.offer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.offer-information {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
}

.offer-vendor-name {
    margin: 0;
}

.offer-vendor-address-icon {
    color: rgb(58, 109, 22)
}

.offer-stock {
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: lighter;
    top: 9px;
    right: 9px;
    position: absolute;
    background: rgb(191, 212, 179);
}

.offer-map-container {
    aspect-ratio: 1;
    padding: 10px;
}


@media only screen and (max-width: 1024px) {
    .produce-offer-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        row-gap: 4px;
        column-gap: 0;
    }

    .offer-map-container {
        padding-top: 0;
        grid-column: 1 /-1;
        aspect-ratio: 2/1;
    }

    .offer-stock {
        position: relative;
        top: 0;
        right: 0;
        display: inline-block;
        padding: 6px 8px;
        font-size: 0.8rem;
    }

    .offer-information {
        padding: 10px;
    }

    .offer-vendor-name {
        font-size: 1.2rem;
    }

    .offer-vendor-address {
        font-size: 0.8rem;
    }


}

.form-field-label {
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 4px;
    display: block;
}

.form-fieldset {
    padding: 0;
    border: 0;
    width: 100%
}

.submission-form {
    margin: 24px auto;
    background-color: #ecdecc;
    padding: 24px 32px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 8px;
}

.left-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.submit-container {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

.form-field {
    width: 100%;
    font-family: "Fredoka", sans-serif;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline-color: #6f884e;
    outline-width: 1px;
    outline-style: solid;
    padding: 0 8px;
}

.form-text-area {
    padding-top: 8px;
    padding-bottom: 8px;
    resize: vertical;
    height: auto;
}

.submit-button {
    padding: 12px;
    background-color: #e5b94c;
    color: cornsilk;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
    outline-color: #6f884e;
    outline-width: 1px;
    outline-style: solid;
    border: 0;
    margin-top: 12px;

}

.submit-button:hover {
    background-color: #b18517;
    color: cornsilk;
}



@media only screen and (max-width: 1024px) {
    .submission-form {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        row-gap: 16px;
    }

    .submit-container {
        grid-column: 1/2;

    }
}

.list-of-vendors {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.vendor-card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    border-radius: 8px;
    border: 5px solid #f3df87;
    text-decoration: none;
    color: rgb(17, 12, 12);
    position: relative;
    align-items: center;
}

.vendor-image-container {
    aspect-ratio: 1;
    padding: 10px;
}

.vendor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.vendor-information {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
}

.vendor-name {
    margin: 0;
}

.vendor-address-icon {
    color: rgb(58, 109, 22)
}


.vendor-map-container {
    aspect-ratio: 1;
    padding: 10px;
}


@media only screen and (max-width: 1024px) {
    .vendor-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        row-gap: 4px;
        column-gap: 0;
    }

    .vendor-map-container {
        padding-top: 0;
        grid-column: 1 /-1;
        aspect-ratio: 2/1;
    }


    .vendor-information {
        padding: 10px;
    }

    .vendor-name {
        font-size: 1.2rem;
    }

    .vendor-address {
        font-size: 0.8rem;
    }


}