<html>

    <head>
        <title>{% block title %} {% endblock%} | Muris</title>
        <meta name="author" content="Dace" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{% block description %}Default description of Muris page{% endblock%}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'images/strawberry.png') }}" />
        <script src="https://kit.fontawesome.com/0689b9e608.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header class="site-header">
            <section class="menu-bar">
                <nav class="desktop-menu">
                    <a href="/" title="Home"><i class="fa-solid fa-seedling"></i></a>
                    <a href="/" title="Home">Home</a>
                    <a href="/vendors" title="Vendors">Vendors</a>
                    <a href="/produce" title="Produce">Produce</a>
                </nav>

                <button class="mobile-menu-button" title="Menu" onclick="open_mobile_menu()">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <nav class="mobile-menu" id="mobile-menu">
                    <header class="mobile-menu-header">
                        <span class="mobile-menu-title">Menu</span>
                        <button class="mobile-menu-close-button" title="Close menu" onclick="close_mobile_menu()">
                            <i class="fa-solid fa-times"></i>
                        </button>
                    </header>
                    <div class="mobile-menu-line"></div>
                    <a href="/" title="Home">Home</a>
                    <a href="/vendors" title="Vendors">Vendors</a>
                    <a href="/produce" title="Produce">Produce</a>
                </nav>
            </section>
            <a href="/" class="site-name" title="Home">Muris buys fruit</a>

            <section class="user-profile">
                <a href="/profile" title="Profile"><i class="fa-solid fa-circle-user"></i></a>
            </section>
        </header>
        <main>
            {% block content %}
            <h1>This page has no content!</h1>
            <p>Looks like this page has no content yet!</p>
            {% endblock%}
        </main>
        <footer>
            Site footer
        </footer>

        <script>
            function open_mobile_menu() {
                document.getElementById("mobile-menu").classList.add("visible")
            }
            function close_mobile_menu() {
                document.getElementById("mobile-menu").classList.remove("visible")
            }
        </script>
    </body>

</html>