{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block description %}Description of your site{% endblock %}

{% block content %}
<section class="welcome">
    <h1 class="welcome-title">
        [Dace - say hi]
    </h1>
    <p class="welcome-text">
        [Dace - say longer hi]
    </p>
</section>
<section class="homepage-hero-section">
    <div class="hero-half" id="explore-vendors">
        <h2 class="hero-title">
            Get to know our
        </h2>
        <h3 class="hero-subtitle">
            Vendors
        </h3>
        <a class="hero-link" href="/vendors" title="Vendors">
            FIND VENDORS
        </a>
    </div>
    <div class="hero-half" id="explore-produce">
        <h2 class="hero-title">
            Explore our
        </h2>
        <h3 class="hero-subtitle">
            Local goods
        </h3>
        <a class="hero-link" href="/produce" title="Produce">
            BROWSE PRODUCE
        </a>
    </div>
</section>

{% endblock %}