{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
<header class="welcome">
    <h1 class="welcome-title">
        What's in season?
    </h1>
    <p class="welcome-text">
        Browse through our local products and find a farmer's market near you!</p>
</header>
<section class="homepage-hero-section">
    <div class="hero-half" id="explore-vendors">
        <span class="hero-subtitle">
            Get to know our
        </span>
        <h2 class="hero-title">
            Local vendors
        </h2>
        <a class="hero-link" href="/vendors" title="Vendors">
            FIND VENDORS
        </a>
    </div>
    <div class="hero-half" id="explore-produce">
        <span class="hero-subtitle">
            Explore our
        </span>
        <h2 class="hero-title">
            Local goods
        </h2>
        <a class="hero-link" href="/produce" title="Produce">
            BROWSE PRODUCE
        </a>
    </div>
</section>
<article class="homepage-content">
    <section id="what-do-we-do">
        <p class="content-text">
            <i>"Uz laukiem!"</i> - it is both an invitation and a sign for good times ahead!<br>
            <i>"To the countryside!"</i> - is an invitation for you to swap a trip to the grocery store with a visit to
            one of our local Danish farmers near you!<br> <br>
        </p>
    </section>

    <section id="how-it-works">
        <h2 class="content-title">
            Looking for fresh produce?
        </h2>
        <div class="content-list-container">

            <ol class="content-list">
                <li><i>Browse our products</i></li>
                <li><i>Find your favourite vendor</i></li>
                <li><i>Visit their garden and purchase your goods!</i></li>
            </ol>
        </div>
    </section>

    <section id="about-the-site">
        <p class="content-text">
            Our community was formed to support anyone who wished to share extra produce from their garden with
            others.
            <br>As a vendor, you can sell your homegrown fruits and vegetables to people that appreciate the fresh
            produce.
            As a buyer, you encourage sustainable food sourcing by choosing your local farmers. And you get to treat
            yourself with the most fresh and delicious fruits and veggies!
        </p>
    </section>

    <section class="submission-cta" id="submit-own">
        <h3 class="submission-cta-title">
            Want to sell your products?
        </h3>
        <h2 class="submission-cta-subtitle">
            Apply to be a vendor!
        </h2>
        <a class="submission-cta-link" href="/apply" title="Apply to be a vendor">
            APPLY
        </a>
    </section>
</article>
{% endblock %}