{% extends "base.html" %}

{% block title %}{{produce.name}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/individual_produce.css') }}" />
<header class="welcome individual-product-welcome">
    <div class="back-button-container">
        <a class="back-button" title="Back to list of produce" href="/produce">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>
    </div>
    <img alt="{{produce.name}}" src="/static/images/{{produce.image}}" class="welcome-image" />
    <h1 class="welcome-title">
        {{produce.name}}
    </h1>
</header>
<section class="list-of-offers">
    <header class="list-header">
        <input type="checkbox" id="show-only-in-stock" name="show-only-in-stock" title="Show only items in stock" />
        <label for="show-only-in-stock" class="show-only-in-stock-label">
            Only in stock
        </label>
    </header>
    {% for offer in offers_for_produce %}
    <article class="produce-offer-card {% if offer.is_in_stock == false %} out-of-stock {% endif %}">
        <div class="offer-image-container">
            <img alt="{{offer.vendor_name}}" src="/static/images/{{offer.vendor_image}}" class="offer-image" />
        </div>
        <div class="offer-information">
            <h2 class="offer-vendor-name">
                {{offer.vendor_name}}
            </h2>
            <span class="offer-vendor-address">
                <i class="fa-solid fa-location-pin offer-vendor-address-icon"></i>
                {{offer.vendor_address}}
            </span>
            {% if offer.is_in_stock %}
            <span class="offer-stock">
                In stock
            </span>
            {% endif %}
            {% if offer.is_in_stock == false %}
            <span class="offer-stock">
                Out of stock
            </span>
            {% endif %}
        </div>
        <div class="offer-map-container">
            <!--
            Documentation:
            https://developers.google.com/maps/documentation/embed/embedding-map#place_mode
            -->
            <iframe title="Find {{offer.vendor_name}} on map" width="100%" height="100%" frameborder="0"
                style="border:0" referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBl6wt5dYd9xZ0ho5_ZvXlW1BmqBLam_1k&q={{offer.vendor_address}}"
                allowfullscreen>
            </iframe>
        </div>
    </article>
    {% endfor %}
</section>
<script>
    document.getElementById("show-only-in-stock").addEventListener("change", filter_in_stock_produce)
</script>
{% endblock %}