{% extends "base.html" %}

{% block title %}Find produce{% endblock %}

{% block content %}

<header class="welcome">
    <h1 class="welcome-title">
        Explore our produce
    </h1>
    <p class="welcome-text">
        Sweet berries? Beautiful flowers? Freshly-picked apples? We offer a wide variety of local goods - feel free to
        browse our products and find your favourite pick!
    </p>
</header>
<section class="list-of-produce">
    {% for produce in list_of_produce %}
    <a class="produce_card" href="/produce/{{produce.id}}">
        {% if produce.in_season %}
        <span class="produce-in-season">
            In season
        </span>
        {% endif %}
        <img alt="{{produce.name}}" src="/static/images/{{produce.image}}" class="produce-image" />
        <h2 class="produce-name">
            {{produce.name}}
        </h2>
    </a>
    {% endfor %}
</section>
{% endblock %}