{% extends "base.html" %}

{% block title %}Find produce{% endblock %}

{% block description %}Description of this page{% endblock %}

{% block content %}
<section class="welcome">
    <h1 class="welcome-title">
        [Dace - say hi]
    </h1>
    <p class="welcome-text">
        [Dace - say longer hi]
    </p>
</section>
<section class="list-of-produce">
    {% for produce in list_of_produce %}
    <a class="produce_card" href="/produce/{{produce.id}}">
        {% if produce.in_season %}
        <span class="produce-in-season">
            In season
        </span>
        {% endif %}
        <img alt="{{produce.name}}" src="/static/images/{{produce.image}}" class="produce-image" />
        <h3 class="produce-name">
            {{produce.name}}
        </h3>
    </a>
    {% endfor %}
</section>
{% endblock %}